<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<link href="/webjars/materializecss/0.97.7/css/materialize.css"
	type="text/css" rel="stylesheet" media="screen,projection" />

<title>ManagerLoan</title>
</head>

<body>


	<!-- Dropdown Structure -->
	<ul id="dropdown" class="dropdown-content">
		<li><a th:href="@{/login/logout}">Sair</a></li>
	</ul>
	<nav>
		<div class="nav-wrapper">
			<ul class="right hide-on-med-and-down">
				<li><a th:href="@{/usuario/menu}">Inicio</a></li>
				<li><a th:href="@{/amigos/}">Amigos</a></li>
				<li><a th:href="@{/objetos/}">Objetos</a></li>
				<!-- Dropdown Trigger -->
				<li><a class="dropdown-button" data-activates="dropdown">Encerrar
						Sessão<i class="material-icons right">&vee;</i>
				</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title black-text">Empréstimo</span>
						<form method="post" th:action="@{/objetos/emprestar}">
							<div class="row">
								<div class=" col s12">
									<label>Escolha um objeto disponível para empréstimo</label> <select
										class="browser-default" name="objeto">
										<option value="" disabled="disabled" selected="selected">Escolha
											um Objeto</option>
										<option id="objetoSelecionado" th:name="${objeto}"
											th:each="objeto : ${objetosDisponiveis}"
											th:value="${objeto.id}" th:text="${objeto.nome}"></option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class=" col s12">
									<label>Escolha um Amigo</label> <select class="browser-default"
										name="amigo">
										<option value="" disabled="disabled" selected="selected">Escolha
											um Amigo</option>
										<option id="amigoSelecionado" th:name="${amigo}"
											th:each="amigo : ${amigos}" th:value="${amigo.id}"
											th:text="${amigo.nome}"></option>
									</select>
								</div>
							</div>
							<div class="center-align">
								<button id="botaoSubmeter" class="btn waves-effect waves-light"
									type="submit" name="action" disabled="disabled">Emprestar</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>

		<div class="row-center">
			<h5>Objetos Emprestados</h5>
			<table class="striped">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Amigo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="objeto : ${objetosEmprestados}">
						<td th:text="${objeto.nome}"></td>
						<td th:text="${objeto.amigo.nome}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>


</body>
<script type="text/javascript">
	if (document.getElementById("objetoSelecionado").value != null) {
		if (document.getElementById("amigoSelecionado").value != null) {
			document.getElementById("botaoSubmeter").disabled = false;
		}
	}
</script>
<script src="/webjars/jquery/2.2.4/jquery.js"></script>
<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
</html>